.compliment{
font-size: 4em;
font-famly: monospace;
color: tomato;
}
.rstudio-blue{
color: #4D8DC9;
}

.cat-box{
background-color: #4D8DC9;
background-image: url(https://placekitten.com/300/300);
height: 300px;
width: 300px;
position: absolute;
bottom: 60px;
right: 60px;
}